
IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "usb_dn" 55;
IO_PORT "usb_dn" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "usb_dp" 56;
IO_PORT "usb_dp" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "led" 10;
IO_PORT "led" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "lineGC1" 25;
IO_PORT "lineGC1" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "testpin" 26; //need to change if using 2nd controller
IO_PORT "testpin" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC  "grnd" 57;
IO_PORT "grnd" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3; //oopsie on PCB, force to GND




//Tang Nano 4k pins
//IO_LOC  "clk" 45;
//IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

//IO_LOC "usb_dn" 42;
//IO_PORT "usb_dn" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
//IO_LOC "usb_dp" 43;
//IO_PORT "usb_dp" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
//IO_LOC "led" 39;
//IO_PORT "led" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
//IO_LOC "lineGC1" 40;
//IO_PORT "lineGC1" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
//IO_LOC "testpin" 46;
//IO_PORT "testpin" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;